.viewDetailsDesign{

  width: 100px;
  height: 100px;

}

.viewAllCardDet{

    box-shadow: 4px 8px 15px gray;
    border-radius: 4px;
    width: 550px;
    margin: auto;
    text-align: center;
    padding: 12px;
   
    

}